/*==================================================== 
//		FileName:default-config.css 
//		Summary: 未配置路径的前台显示样式 
//		 
//===================================================*/ /*  全局部分  */ 
a:link,a:visited { 
	font-size: 12px; 
	font-family: "宋体", sans-serif; 
	color: #000; 
	text-decoration: none; 
} 
 
a:hover { 
	font-size: 12px; 
	font-family: "宋体", sans-serif; 
	color: #B50000; 
	text-decoration: none; 
} 
 
form { 
	margin: 0; 
	padding: 0; 
} 
 
ul { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
} 
 
img { 
	border: 0; 
} 
 
body { 
	margin: 0; 
	padding: 0; 
	background: url(images/pagebg.gif) repeat-y 50% 0;
	font-size: 12px; 
	font-family: verdana, sans-serif; 
	text-align: center; 
} 
 
/* head 部分 */ 
#head { 
	width: 715px; 
	margin: 1px 6px; 
	margin-left: auto; 
	margin-right: auto; 
	background: url(images/headbg.gif) no-repeat left top; 
	height: 66px; 
	text-align: left; 
} 
 
#logo { 
	margin-left: 30px; 
	float: left; 
} 
 
#text { 
	padding-top: 30px; 
	padding-right: 40px; 
	font-size: 12px; 
	font-weight: bold; 
	color: #1B3F7F; 
	font-family: verdana, sans-serif; 
	text-align: right; 
	float: right; 
	clear: right; 
} 
 
/* 导航条部分 */ 
#navigator { 
	width: 715px; 
	margin-left: auto; 
	margin-right: auto; 
	background: url(images/navbg.gif); 
	height: 25px; 
} 
 
#navigator ul { 
	margin: 0; 
	padding: 0; 
} 
#navigator li { 
	float: left; 
	list-style: none; 
} 
 
#navigator li.back { 
    float: right;
}
#navigator li a { 
	display: block; 
	color: #000; 
	line-height: 25px; 
	padding: 0px 10px 0; 
	font-weight: bold; 
} 
 
#navigator li a:hover { 
	color: #B50000; 
} 
 
#navigator li#today { 
	padding: 4px 8px !important; 
	padding: 4px 8px 0; 
	color: #B50000; 
} 
#title {
    font-size: 15px;
    font-weight: bold;
    color: green;
    text-align: center;
} 

.prdc-title {
    margin-left: 25%;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}

.product {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.product th {
    background: #F7FBFF;
    border-bottom: 1px solid #C6E7FF;
    text-align: center;
}

.product td {
    text-align: center;
}

.button { 
    border: 1px solid #B6B3AF; 
    padding: 1px 4px 0;  
    background: url(../images/buttonface.gif) repeat-x; 
    height: 21px; 
} 
/* banner 部分 */ 
#banner { 
	width: 715px; 
	background: url(images/bannerbg.gif); 
	margin: 1px 0px; 
	margin-left: auto; 
	margin-right: auto; 
	padding: 0px; 
	text-align: center; 
} 
 
#banner img { 
	border: 0; 
	margin-bottom: -3px; 
} 
 
/* body 部分 */ 
#body { 
	margin: 1px 6px; 
	margin-left: auto; 
	margin-right: auto; 
	width: 715px; 
	text-align: left; 
	background: url(images/bodybg.gif) repeat-y left top; 
} 
 
